.title {
  font-family: Indie Flower, cursive;
}

.title h1 {
  font-size: 50px;
  font-weight: bold;
  color: blue;
}

.quote-text {
  padding: 5px 0px 5px 0px;
  font-size: 30px;
}

.quote-author {
  padding: 5px 0px 5px 0px;
  font-size: 20px;
}

.quote-button {
  padding: 5px 0px 5px 0px;
}

.container {
  margin-top: 50px;
}

#generate {
  font-size: 20px;
}

.quote-button button {
  font-size: 20px;
}
