body  {
  background-color: #C6E2FF;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color: white;
  margin:50px 0px 25px 0px;
}

div {
  font-family: 'Open Sans', sans-serif;
}

.location {
  font-size: 25px;
  margin: 10px 0px 10px 0px;
}

.temp {
  font-size: 20px;
  margin: 10px 0px -10px 0px;
}

.sky {
  font-size: 20px;
  margin: -10px 0px 10px 0px;
}
